@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card" style="width: 18rem;">
    <img src="https://lh6.googleusercontent.com/o7DMACH-AmVNeAWGwnGw5vnQO0qRc2jtwgO0hjqYAWxn3b_pgCkK3dSjmBYYM1USnvD_Q9r0wRuGyN47NiS7crO1b9NylEJOfyG-W625851lv85mA-wVWvqAKMKZ2h5Bzs5ntzc" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">primer ejemplo</h5>
        <p class="card-text">ejemplo de como hacer una tarjeta con bootstrap, perfectamente utilizable para un sitio de ventas.</p>
        <a href="#" class="btn btn-primary stretched-link">No hace nada</a>
    </div>
</div>